/* Styling goes in this file */

body {
	font-family: Arial;
}

/* Any element with the class centered should have centered text */
.centered {
	text-align: center;
}

.header-row {
	background-color: skyblue;
	text-align: center;
}

.leftaligned {
	text-align: left;
}

.container {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.flex-left {
	flex: 1;
}

.flex-right {
	flex: 1;
}

.image {
	max-width: 100%;
	max-height: 100%;
}

.rectangle {
  fill: lightskyblue;
}

.rectangle:hover {
  fill: orange;
}


.circle:hover {
	stroke-width: 3;
}

.decoration {
	justify-content: space-around;
}